/*GLOBAL STYLES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
    font-size: 62.5%;
  }

  :root {
	--Julee: 'Julee', cursive;
	--Mochiy: "Mochiy Pop One", sans-serif;
  }

  body {
	background-image: url(./images/Body-background.jpg);
  }
  
 /*HEADER*/


/*WEATHER CONTAINER*/


/*GIPHY CONTAINER*/

/*QUOTE CONTAINER*/

/*TODOS CONTAINER*/

/*FOOTER*/




