/*GLOBAL STYLES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
    font-size: 62.5%;
  }

  :root {
	--Julee: 'Julee', cursive;
	--Mochiy: "Mochiy Pop One", sans-serif;
  --white: white;
  }


/*BODY*/  
  body{
    background-color: var(white);
  }

  #content-wrapper {
  /* width: 60%;
  margin: auto; centers >>will evenly distribute the remaining 40% of the width between right side of element and left side */
	background-image: url(./images/Body-background.jpg);
  /* background-color: aqua; */
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 2px 5px 19px 4px rgba(0,0,0,0.37); 
box-shadow: 2px 5px 19px 4px rgba(0,0,0,0.37);
  
  }
  
 /*HEADER*/
header h1 {
	font-family: var(--Mochiy);
	font-size: 5rem;
	text-shadow: 3px 0px 0px rgba(214, 231, 232, 0.44);
}

header {
	height: 20%;
}



/*WEATHER CONTAINER*/


/*GIPHY CONTAINER*/

#giphyContainer img {
  border-radius: 10px 100px / 120px;
}

/*TODOS CONTAINER*/
.card {
  background-color: transparent;
  font-family: var(--Mochiy);
}

.card h2 {
  font-family: var(--Mochiy);
}

.card-text {
  font-size: 1.5rem;
}

/*FOOTER*/
footer {
  font-family: var(--Mochiy);
  font-size: 1.5rem;
}




#giphy, #giphy-buttons, .wrapper, .giphyContainer {
  background: transparent;
}